
button{
    width: 24%;
    height: 40px;
    margin-top: 1px;
    border-radius: 3px;
}
.allclear,.equal{
    width: 49%;
}

.textArea{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 30px;
    background-color: #204969;
}
text{
    color: white;
    font-size: 20px;
}
.calculatorArea{
    display: block;
    width: 320px;
}
.buttonArea{
    display: block;
    height: 100%;
    width: 320px;
    background-color: #fae3d9;
    
}
.buttonArea_firstFromTop,.buttonArea_secondFromTop,.buttonArea_thirdFromTop,.buttonArea_forthFromTop,.buttonArea_fifthFromTop{
    display: flex;
    justify-content:space-around;
}
